@font-face {
    font-family: Playfair Display;
    src: url('./PlayfairDisplay-Regular.ttf') format('truetype');
  }

.NavBar {
    position:absolute;
    width:100%;
    z-index:10;
    max-width:100%;
}

.App {
    background-color: #3f3f3f;
    max-width: 100%;
}

.root {
    max-width: 100%;
}

.h3 {
    font-family: 'Times New Roman', Times, serif
}